body {
    font-family: sans-serif;
}

.box-container {
    width: 80%;
    padding: 2rem;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}

.box-container .title {
    font-weight: bold;
    padding: 1rem;
    border-bottom: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}

.transaction-box {
    margin-top: 1rem;
}

.transaction-box .item {
    display: table;
    width: 100%;
    margin-bottom: 1rem;
}

.transaction-box .item>* {
    display: table-cell;
    vertical-align: middle;
}

.transaction-box .item> :first-child {
    text-align-last: left;
}

.transaction-box .item> :last-child {
    text-align-last: right;
    font-weight: bold;
}

.transaction_details_box {
    margin-top: 3rem;
    border-radius: 5px;
    display: table;
    width: 100%;
    margin-bottom: 3rem;
}

.transaction_details_box .left {
    display: table;
    margin-bottom: 1rem;
    width: 100%;
}

.transaction_details_box .left>* {
    display: table-cell;
    vertical-align: middle;
}



.transaction_details_box .left .item {
    display: table;
    width: 100%;
    float: left;
    margin-bottom: 1rem;
}

.transaction_details_box .left .item>* {
    display: table-cell;
    vertical-align: middle;

    width: 100%;
    margin-bottom: 1rem;
}

.transaction_details_box .left .item> :first-child {
    text-align: left;
}

.transaction_details_box .left .item> :last-child {
    text-align: right;
}

.transaction_details_box .right {
    display: table;
    width: 100%;
}

.transaction_details_box .right table {
    width: 100%;
}

.transaction_details_box .right .payment_tile {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

th {
    background: #8a97a0;
    color: #fff;
}

tr {
    background: #f4f7f8;
}

tr:nth-child(even) {
    background: #e8eeef;
}

th,
td {
    padding: 0.5rem;
}

.single_item .value {
    font-weight: bold;
}
